<h1>About Us</h1>

<div class="paragraph">
	<p>
		ProjectShare connects creators and contributors to organize and track their projects.  
	</p>
	<p>
		We provide a large network of professionals with diverse expereince and expertise. Join us before you start your next project and create the perfect team to build your dream project! 
	</p>
	<p>
		Unlike other sites, ProjectShare wants your time, not your money!
	</p>

</div>

<div class="join">
	<h1>Join Us!</h1>

	<img src="https://www.halocapitalgroup.com/wp-content/uploads/2014/01/professionals-celebrating.jpg">
	<p>projectshare@aol.com</p>
</div>