<section>
	
</section>

<!-- <section>
	<div class="create">Create</div>
	<div class="elevator-pitch">
		<p>ProjectShare is a network for project instigators who have goals but need resources. It connects Instiagtors & Collaborators and helps groups organize their projects. Unlike Kickstarter, we want your time not money.. :)</p>
	</div>	
</section> -->
<!-- 
<section class='dashboard'>
	<div class="collaborate">Collaborate</div>
</section> -->


<section class='dashboard'>
	<h1 class="header">Project Share</h1>
	<div class='choices'> 
		<div class="create">Create</div>	
		<div class="collaborate">Collaborate</div>
	</div>

	<div class="elevator-pitch"> 
		<p>ProjectShare is a network for project instigators who have goals but need resources. It connects Instiagtors & Collaborators and helps groups organize their projects. Unlike Kickstarter, we want your time not money.. :)</p>
		
	</div>
</section>