<style>
  
  body {
    
  background: url('http://christineadolph.typepad.com/.a/6a00d834528ff369e20120a93e7120970b-pi') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}   

h2{

  font-size: 25px;
}
</style>


<div class="center jumbotron">
  <h1>Welcome to ProjectShare</h1> 
   <h2>
    ProjectShare connects your projects with people who want to help, and you might just find a project you might want to be a part of. Unlike kickstarter, we want your time, not your money.
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

