<style>
/*body {
    
  background: url('https://img0.etsystatic.com/006/0/6642419/il_fullxfull.359244928_m4n3.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/   


.center {
  background: darkgrey;
  color:black;
}

.title {
  background: black;
  color:white;
  opacity: 0.80;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
}
</style>

<div class="title">
<h1>Projects From Around The World</h1>
</div>

<div class="letters">
  <% @letters.each do |letter| %>
    <a class="jumper" href="#<%= letter %>"><%= letter %></a>
  <% end %>
</div>

<ul class="users">
<% @projects.keys.sort.each do |starting_letter| %>
  <% @projects[starting_letter].each do |project| %>
    <p class="project-idx">
      <%= image_tag project.image.url %>
      <span id="proj-link"><%= link_to project.title, project %></span>
    </p>
  <% end %>
<% end %>
</ul>

<script>
  
$(".jumper").on("click", function( e ) {
    
    e.preventDefault();

    $("body, html").animate({ 
        scrollTop: $( $(this).attr('href') ).offset().top 
    }, 600);
    
});

</script>