// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}


#body {
    
  background: url('https://img0.etsystatic.com/006/0/6642419/il_fullxfull.359244928_m4n3.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


#userbody {
    
  background: url('http://th02.deviantart.net/fs71/PRE/i/2013/318/c/3/watercolor_spraypaint_abstract_painting___print__1_by_akuard-d6u92d5.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}		


header {

    height: 60px;
	background: black;
	color:white;
	font-family:helvetica;
	font-size: 40px;

}





#login {
	
	text-align: center;
	width: 60%;
    height: 330px;
	background-color: white;
	margin-top:100px;
	border-radius: 20px;
	border: 7px solid black;
	font-family: helvetica;
	font-style: bold;
	color:black;
	font-size:30px;
	white-space: normal;
	overflow:overlay;
	opacity: 0.89;

}

.form-control {
		height: 40px;
}



.nav {
	font-size:20px;
	float: right;
	margin-top: 15px;
	margin-right: 20px;
}

.header {
	margin-top: 15px;
	margin-left: 20px;
	font-weight: bolder;
}


.name{
	color: black;
	font-size: 45px;
	margin-left: 25px;

}

.gravatar {
	height: 150px;
	margin-left: 50px;
	border: 7px solid black;
	border-radius: 20px;
}

.location{
	color:black;
}

.website{
	color:black;
}

.summary {
	
	text-align: center;
	width: 60%;
    height: 190px;
	background-color: white;
	margin-top:10px;
	border-radius: 20px;
	border: 7px solid black;
	font-family: helvetica;
	font-style: bold;
	color:black;
	font-size:30px;
	white-space: normal;
	overflow:overlay;
	opacity: 0.89;

}


.project {
	float:right;
	margin-right: 30px;
	text-align: center;
	width: 50%;
    height: 50px;
	background-color: white;
	margin-top:10px;
	border-radius: 20px;
	border: 7px solid black;
	font-family: helvetica;
	font-style: bold;
	color:black;
	font-size:30px;
	white-space: normal;
	overflow:overlay;
	opacity: 0.89;

}


.feed_name {
	margin-left: 10px;
	font-weight: bolder;
	font-size: 30px;
}

.create {

	float:left;
   text-align: center;
	width: 40%;
    height: 350px;
	background-color: white;
	margin-top:60px;
	border-radius: 50%;
	border: 7px solid black;
	font-family: helvetica;
	font-style: bold;
	color:black;
	font-size:60px;
	white-space: normal;
	overflow:overlay;
	opacity: 0.89;
	margin-left: 80px;
	line-height:320px;
    text-align:center;
}


.collaberate {
	float:right;
   text-align: center;
	width: 40%;
    height: 350px;
	background-color: white;
	margin-top:60px;
	border-radius: 50%;
	border: 7px solid black;
	font-family: helvetica;
	font-style: bold;
	color:black;
	font-size:60px;
	white-space: normal;
	overflow:overlay;
	opacity: 0.89;
	margin-right: 80px;
	line-height:320px;
    text-align:center;
	
}

*/


/*section.dashboard {
	@include outer-container;*/

	/*.header {
		@include span-columns(12);
		background: #FCAD19;
		text-align: center;
		height: 70px;
	}

	.choices {
		@include span-columns(6);

		.create {		
			background: #F5EE2C;
			border-radius: 50%;
			width: 300px;
			height: 300px;
			line-height: 300px;
			text-align: center;
			font-size: 30px;
		}
		.collaborate {
			background: #06C200;
			border-radius: 50%;
			width: 300px;
			height: 300px;	
			line-height: 300px;
			text-align: center;
			font-size: 30px;
		}	
	}
	.elevator-pitch {
		@include span-columns(6);
		font-size: 30px;
		float: right;
		padding-top: 100px;
		text-align: center;		
	}
}
*/


@import "bootstrap-sprockets";
@import "bootstrap";


html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  margin-top: 40px;
  opacity: 0.89;
}

.center h1 {
  margin-bottom: 10px;
}


h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;

}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.gravatar {
	height: 150px;
	
	border: 7px solid black;
	border-radius: 20px;
	text-align: center;
}























