// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


header {

    height: 60px;
	background: black;
	color:white;
	font-family:helvetica;
	font-size: 40px;
}


div {
	height: 20px;
	margin-top: 20px;
}

h1{
	font-size: 40px;

}

.jumper {
	font-size: 50px;
}