<div class="links">

	<a href="/">
		Projects |
	</a>

	<a href="/">
		Users |
	</a>

	<a href="/">
		Profile 
	</a>	

	<form action="/sessions" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Log-Out">
	</form> 

</div>