



<header class="links">
  
  <div>
  	Project Share

  	<%= link_to "Users Directory", users_path %>
  	<%= link_to "Projects Directory", projects_path %>
		<%= link_to "Sign Up", new_user_path %>
  </div>



</header>